
@{
    ViewBag.Title = "About";
}
<div class="w3l-about1 py-5 editContent" id="about">
    <div class="container py-md-5">

        <div class="aboutgrids row">
            <div class="col-lg-8 aboutgrid1 pr-lg-5">
                <h4 class="editContent">Finance Mangement</h4>
                <p class="editContent mt-4">
                    Financial management refers to the strategic planning, organising, directing, and controlling of financial undertakings in an organisation or an institute. It also includes applying management principles to the financial assets of an organisation, while also playing an important part in fiscal management
                </p>
                <p class="editContent mt-3">

                    What is financial management?
                    Financial management refers to the strategic planning, organising, directing, and controlling of financial undertakings in an organisation or an institute. It also includes applying management principles to the financial assets of an organisation, while also playing an important part in fiscal management. Take a look at the objectives involved:

                    Maintaining enough supply of funds for the organisation;
                    Ensuring shareholders of the organisation to get good returns on their investment;
                    Optimum and efficient utilization of funds;
                    Creating real and safe investment opportunities to invest in.
                    Financial management is also made up of certain elements. These include:

                    Financial planning: This is the process of calculating the amount of capital that is required by an organisation and then determining its allocation. A financial plan includes certain key objectives, which are:
                    Determining the amount of capital required;
                    Determining the capital organisation and structure;
                    Framing of the organisation’s financial policies and regulations.
                    Financial control: This is one of the key activities in financial management. Its main role is to assess whether an organisation is meeting its objectives or not. Financial control answers the following questions:
                    Are the organisation’s assets being used competently?
                    Are the organisation’s assets secure?
                    Is the management acting in the best financial interests of the organisation and the key stakeholders?
                    Financial decision-making: This involves investment and financing with regards to the organisation. This department takes decisions about how the organisation should raise finance, whether they should sell new shares, or how the profit should be distributed.
                </p>

            </div>
            <div class="col-lg-4 aboutgrid2 mt-lg-0 mt-5">
                <img src="~/assets/images/g4.jpg" alt="about image" class="img-fluid" />
                <img src="~/assets/images/g5.jpg" alt="about image" class="img-fluid mt-3" />
            </div>
        </div>
    </div>
</div>


