

<section class="w3l-grid-8" id="about">
    <div class="grid-main py-5">
        <div class="container py-md-3">
            <div class="heading text-center mx-auto">
                <h3 class="head"> Why is Financial Management important?</h3>
                <p class="my-3 head">
                    This form of management is important for various reasons. Take a look at some of these reasons:

                    Helps organisations in financial planning;
                    Assists organisations in the planning and acquisition of funds;
                    Helps organisations in effectively utilising and allocating the funds received or acquired;
                </p>
            </div>
            <div class="d-grid pb-5 mb-4 pt-5 mt-3">
                <div class="grid-column1">
                    <div class="card">
                        <a href="services.html">
                            <img class="card-img-top img-fluid img-responsive"
                                 src="~/assets/images/g1.jpg" alt="image">
                        </a>
                       
                    </div>

                </div>
                <div class="grid-column1">
                    <div class="card">
                        <a href="#">
                            <img class="card-img-top img-fluid img-responsive"
                                 src="~/assets/images/g2.jpg" alt="image">
                        </a>
                      
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="w3l-feature-3" id="features">
    <div class="grid top-bottom">
        <div class="container">
            <div class="heading text-center mx-auto">
                <h3 class="head text-white">Features</h3>
                <p class="my-3 head text-white">
                  
                </p>
            </div>
            <div class="middle-section grid-column text-center mt-5 pt-3">
                <div class="three-grids-columns">
                    <span class="fa fa-paint-brush"></span>
                    <h4>Register Complaint</h4>
                 
            
                </div>
                <div class="three-grids-columns">
                    <span class="fa fa-ils"></span>
                    <h4>Add Service</h4>
                  
                   
                </div>
                <div class="three-grids-columns">
                    <span class="fa fa-wrench"></span>
                    <h4>Contact Us</h4>
                  
               
                </div>
            </div>
        </div>
    </div>
</section>
